
# binaries
/hsolve
/hsolve.o
/hsolve.hi
/*.exe
/csolve

# testing word databases
/data/czech.txt
/data/wiki_list.txt
/data/ordered.txt
/data/syscordle.txt
/data/usr_share_dict_words.txt

# profiling
/solver.hp

# trophy room
/screenshots
/score

# secret
.env

# ide
/.vscode/
*.swp

# caches
/__pycache__/
/.mypy_cache/
/.solver_cache
